<div class="filter-bar" *ngIf="filters$ | async as filters">
  <div class="filter" *ngFor="let filter of filters">
    <label>{{ filter.definition.label }}</label>
    <ng-container [ngSwitch]="filter.definition.component">
      <input
        *ngSwitchCase="'text'"
        type="text"
        [value]="filter.value as string"
        (input)="update(filter, $event.target.value)"
      />
      <input
        *ngSwitchCase="'number'"
        type="number"
        [value]="filter.value as number"
        (input)="update(filter, $event.target.valueAsNumber)"
      />
      <div *ngSwitchCase="'dateRange'" class="date-range">
        <input type="date" (change)="update(filter, { ...(filter.value as any) ?? {}, start: $event.target.value })" />
        <input type="date" (change)="update(filter, { ...(filter.value as any) ?? {}, end: $event.target.value })" />
      </div>
      <input
        *ngSwitchCase="'checkbox'"
        type="checkbox"
        [checked]="filter.value as boolean"
        (change)="update(filter, $event.target.checked)"
      />
      <select
        *ngSwitchCase="'multiSelect'"
        multiple
        (change)="update(filter, Array.from($event.target.selectedOptions).map(o => o.value))"
      >
        <option *ngFor="let option of filter.definition.options ?? []" [selected]="(filter.value as string[] | null)?.includes(option as string)">
          {{ option }}
        </option>
      </select>
      <input
        *ngSwitchDefault
        type="text"
        [value]="filter.value as string"
        (input)="update(filter, $event.target.value)"
      />
    </ng-container>
  </div>
  <button class="apply" type="button" (click)="apply()">Aplicar seleção</button>
</div>
