<div
  class="canvas-grid"
  #grid
  cdkDropList
  [cdkDropListData]="components"
  (cdkDropListDropped)="handleDrop($event)"
  [ngStyle]="gridStyle"
  (click)="clearSelection()"
>
  <div
    *ngFor="let component of components"
    class="canvas-component"
    [class.selected]="isSelected(component)"
    [style.gridColumn]="component.position.colStart + ' / span ' + component.position.colSpan"
    [style.gridRow]="component.position.rowStart + ' / span ' + component.position.rowSpan"
    cdkDrag
    [cdkDragData]="component"
    [cdkDragDisabled]="component.locked"
    (click)="select(component, $event)"
  >
    <header class="component-header">
      <span>{{ component.title }}</span>
      <app-component-context-menu
        [component]="component"
        (bringToFrontRequested)="bringToFront(component)"
        (sendToBackRequested)="sendToBack(component)"
        (duplicateRequested)="duplicate(component)"
        (deleteRequested)="delete(component)"
        (groupRequested)="groupSelection()"
        (ungroupRequested)="ungroupSelection()"
        (lockToggleRequested)="toggleLock(component)"
        (freezeToggleRequested)="toggleFreeze(component)"
      ></app-component-context-menu>
    </header>
    <div class="component-preview">
      <app-component-wrapper [component]="component"></app-component-wrapper>
    </div>
    <button
      class="resize-handle handle-right"
      *ngIf="!component.locked"
      (pointerdown)="startResize(component, 'right', $event)"
    ></button>
    <button
      class="resize-handle handle-bottom"
      *ngIf="!component.locked"
      (pointerdown)="startResize(component, 'bottom', $event)"
    ></button>
    <button
      class="resize-handle handle-corner"
      *ngIf="!component.locked"
      (pointerdown)="startResize(component, 'corner', $event)"
    ></button>
  </div>
</div>
